/data
/doc/labs
/lib/*.jar
!/lib/argparse4j-0.9.0.jar
!/lib/tetris.jar
/params
/saves
/src/labs
/src/pas/chess
/chess.srcs
/cp.srcs
/infexf.srcs
/params.srcs
/scripted.srcs
/stealth.srcs
/viter.srcs
/zomtree.srcs
/doc/pas/chess